/*
Name:Hannah I
Date Created March 24th, 2020
Most recent revision: March 29th, 2020 
*/



body {
    background-color:rgb(241, 146, 176);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

header,footer {
    background-color:rgb(208,128,211);
    color: white;
    height: 100px;
    text-align: center;
    padding: 30px 10px 20px 10px;
}

h1 {font-size: 2.5em;
}

nav {
    border-top: 3px dashed #fae4ed;
    border-bottom: 3px #fae4ed;
    margin-top: 4px;
}